<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap core CSS -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

<title>Experimento de completar palabras</title>
</head>


<body id="main_body" class="container">


    <div id="form_container">
        <form class="form-signin" method="get" action='trial/'>
<!--
                <div class="form_description">
-->
				<h2 class="form-signin-heading">Experimento de contar palabras</h2>
                <p>¡Bienvenido a nuestro experimento! Ingresá una dirección de e-mail, tu edad y tu género. </p><p> Completando las sencillas consignas del experimento participarás en sorteos por órdenes de compra a elección.</p> <p>Para jugar debés ser mayor de 10 años</p>
              
                <input type="email" class="form-control" name="email" placeholder="Email" required>
                <input type="text" pattern="[0-9]{2}" class="form-control" name="edad" placeholder="Edad" required>				
				<select name="gender" class="form-control input-lg">
					<option>Masculino</option>
					<option>Femenino</option> </select>                

                <input class="btn btn-lg btn-primary btn-block" id="input_iniciar_trial" type="submit" value="Empezar experimento" >
        </form>	
    </div>	


<div id="log" align=center style="display:none; margin:auto"><br><hr>
Log debuggin :</div>
	
</body></html>
